# Organized+extended by Lex-DRL: https://github.com/Lex-DRL/git-template-gamedev

# OS-generated
# ------------
.DS_Store*
[Tt]humbs.db
[Dd]esktop.ini

# Programming - general
*.log


# =========================================================================== #
# 	IDEs
# =========================================================================== #

# JetBrains PyCharm / Rider
.idea/


# =========================================================================== #
# 	Python-related
# =========================================================================== #
# src: https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# =========================================================================== #
# 	DRL's CG-related
# =========================================================================== #
# --- Auto-Backups:
# Nuke:
*.nk~
*.nk.autosave

# Houdini:
**/backup/*.[Hh][Ii][Pp]
**/backup/*.[Hh][Dd][Aa]
**/backup/*.[Oo][Tt][Ll]

# Maya:
[Ii]ncremental[Ss]ave/
.[Mm]aya[Ss]watches/

# --- FBX included files:
*.fbm/


# =========================================================================== #
# 	Repo-specific
# =========================================================================== #

# This dir must be made a softlink:
/python3.7libs
/python3.*libs

# Debug/test scripts:
/python?.*libs/test*
